body{
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

h1{
    font-family: Georgia, serif;
    color: blue;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

h3{
    font-family: Georgia, serif;
    color: cadetblue;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    

}
legend{
    background-color: aqua;
    font-size: 15px;
    font-weight: bolder;
    font-stretch:wider;
    margin-right: 70%;
    
}
button{
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 400px;
    height: 50px;
    margin-left: 32%;
    background-color: aquamarine;
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color:black;
    border-color: grey;

}

fieldset{
    border-style:double;
    border-width: 5px;
    border-radius: 5px;
    border-color: grey;
    padding-bottom: 20px;
}

input:hover{
    background-color: orangered;
}

select:hover{
    background-color: yellow;
}

button:hover{
    background-color: orange;
}